<launch>
  <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
          <param name="max_acc" value="7.0" />
          <!--Params specific for Iris copter-->
          <param name="attctrl_constant" value="0.3"/>
          <param name="normalizedthrust_constant" value="1.0"/>
          <param name="normalizedthrust_offset" value="0.019"/>
          <param name="Kp_x" value="3.397" />
          <param name="Kp_y" value="4.17" />
          <param name="Kp_z" value="12.338" />
          <param name="Kv_x" value="1.5"/>
          <param name="Kv_y" value="1.5"/>
          <param name="Kv_z" value="14.129"/>
  </node>
  <!-- Launch rqt_reconfigure -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

</launch>
